<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>腾讯首页</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header>
    <div class="container">
        <div class="logo"><a href="www.qq.com"><img src="img/qq_logo.png" alt=""></a></div>
        <div class="search"><div class="sea">网页</div>
            <input type="text"><img src="img/sogouSearchLogo20140629.png" alt=""></div><button>搜狗搜索</button>
        <div class="room"><a href="http://qzone.qq.com"><img src="img/kong.png" alt=""></a><i class="fa fa-envelope-o"></i>登录</div>
    </div>
</header>
<div id="app">
<div class="nav">
    <div class="container">
        <ul class="xin">
            <li><a href="#">新闻</a></li>
            <li><a href="#">图片</a></li>
            <li><a href="#">军事</a></li>
            <li><a href="#">财经</a></li>
            <li><a href="#">证券</a></li>
            <li><a href="#">理财</a></li>
        </ul>
        <ul class="xin1">
            <li><a href="#">视频</a></li>
            <li><a href="#">热剧</a></li>
            <li><a href="#">综艺</a></li>
            <li><a href="#">体育</a></li>
            <li><a href="#">NBA</a></li>
            <li><a href="#">英超</a></li>
        </ul>
        <ul class="xin1">
            <li><a href="#">娱乐</a></li>
            <li><a href="#">明星</a></li>
            <li><a href="#">电影</a></li>
            <li><a href="#">时尚</a></li>
            <li><a href="#">健康</a></li>
            <li><a href="#">育儿</a></li>
        </ul>
        <ul class="xin1">
            <li><a href="#">汽车</a></li>
            <li><a href="#">车型</a></li>
            <li><a href="#">购物</a></li>
            <li><a href="#">房产</a></li>
            <li><a href="#">家具</a></li>
            <li><a href="#">家电</a></li>
        </ul>
        <ul class="xin1">
            <li><a href="#">科技</a></li>
            <li><a href="#">数码</a></li>
            <li><a href="#">手机</a></li>
            <li><a href="#">游戏</a></li>
            <li><a href="#">儿童</a></li>
            <li><a href="#">星座</a></li>
        </ul>
        <ul class="xin1">
            <li><a href="#">教育</a></li>
            <li><a href="#">课程</a></li>
            <li><a href="#">出国</a></li>
            <li><a href="#">文化</a></li>
            <li><a href="#">大家</a></li>
            <li><a href="#">文学</a></li>
        </ul>
        <ul class="xin2">
            <li><a href="#">公益</a></li>
            <li><a href="#">佛学</a></li>
            <li><a href="#">拍客</a></li>
            <li><a href="#">更多</a></li>
        </ul>
    </div>

</div>


<div class="gi">
    <div class="container">
        <div class="g1"><img src="img/g1.jpg"></div><img src="img/g2.jpg" alt="">
    </div>
</div>


<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="wen">
                    <h6>要闻</h6><h6>河北新闻</h6>
                    <p style="float: right">沧州 <i class="fa fa-certificate"></i> 14°</p>
                </div>
                <ul>
                    <li><h6>习近平在辽宁考察</h6></li>
                    <li>【独家V观】习近平：靠自己，走自力更生的道路</li>
                    <li>白皮书有理有据 合作共赢是正途</li>
                    <li>王毅：中国坚持不干涉内政 他国也不得干涉别国内政</li>
                    <li>农业农村部部长：中国农业有底气应对经济风险</li>
                    <li>人民日报：单边主义得不到“通行证”</li>
                    <li>外交部：奉劝美方停止对中国的无理指责和污蔑</li>
                    <li>中央关于追授黄群等4人“优秀共产党员”称号决定</li>
                    <li>3位中国科学家入选2018世界经济论坛青年科学家</li>
                    <li class="ipu"><img src="img/1.jpg" alt=""><h6>海军航空兵在南海海域进行实弹射击演练</h6></li>
                    <li>C罗因欧冠染红被禁赛一场 不影响出战旧主曼联</li>
                    <li>刘国梁主持乒协工作 发表回归宣言：陪国乒战东京</li>
                    <li>商务部：美极限施压不会把中国经济拖垮</li>
                    <li>马哈蒂尔谈中美贸易争端：历史会站在中国这边</li>
                    <li>国防部：中美两军关系受到冲击，责任完全在美方</li>
                    <li>经济日报刊文：曲解企业民主管理 实属别有用心</li>
                    <li>特朗普当着安倍掏出金正恩来信 安倍这么说</li>
                    <li>日本社会冷对“安倍独大” “一强政治”引诟病</li>
                    <li  class="ipu"><img src="img/2.jpg" alt=""><h6>长白山两天内狂降3场雪 雪后天池美景惊艳</h6></li>
                    <li>上海共有产权房将扩围 非户籍常住人口也能申请</li>
                    <li>军改背景下的集团军：一年多来已有6名主官调动</li>
                    <li>大雾黄色预警 京津冀陕甘等地部分地区有强浓雾</li>
                    <li>涉黑老大违规减刑背后：监狱内开单间、设小灶</li>
                    <li>人民时评：预防青少年网络沉迷刻不容缓</li>
                    <li>海河拟每年4到8月全流域禁渔 包括北京大部分河流</li>
                    <li>湖南龙骧集团董事长非正常死亡 原因仍在调查</li>
                    <li>农业农村部：婴幼儿配方乳粉抽检合格率达99.5%</li>
                    <li>广州破穿山甲鳞片走私大案：万余只穿山甲遭毒手</li>
                    <li>甘肃一小区二十多年不通自来水 生活用水凭水票</li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="wen"><h6>今日话题</h6><h6 style="float: right"><i class="fa fa-location-arrow"></i> 时光画轴</h6></div>
                <ul>
                    <li style="text-align: center">高铁霸座现象用不着执法重拳</li>
                    <li>净赚20万没卖一只蟹，大闸蟹经销商是如何赚钱的</li>
                    <li>“北流公交门”：有乌龙，更有围观的正义</li>
                    <li>要治“到此一游”，执法就得硬起来人们</li>
                    <li>让家长执勤？越界的家校关系只会扭曲教育生态</li>
                    <li v-for="a in ao">{{a.fx}}</li>

                </ul>
                <div class="wen"><h6>今日热播</h6> <h6>影视剧</h6> <h6>综艺</h6></div>
               <ul>
                   <li class="ipo"><img src="img/3.jpg"> <img src="img/4.jpg" alt=""></li>
                   <li class="ipl"><p>歼20总设计师堪称“学神”</p> <p>“雇佣兵”忆中弹经历</p></li>
                   <li><i class="fa fa-play-circle"></i> 刘国梁“复出”国乒第一时间看队员：像回家一样</li>
                   <li><i class="fa fa-play-circle"></i> 科威特中央银行大楼起火浓烟冲天 多名工人被困</li>
                   <li><i class="fa fa-play-circle"></i> 汶川地震“猪坚强”减肥100斤 重新站起散步</li>
                   <li><i class="fa fa-play-circle"></i> 销售额10亿！合作社分红摆现金墙 农民拿簸箕装</li>
                   <li><i class="fa fa-play-circle"></i> 极限美女花式骑摩托	中国小胖50秒KO欧洲名将</li>
                   <li><i class="fa fa-play-circle"></i> 热巴印花裙霸气十足	杨幂穿鱼尾裙化身暗黑女王</li>
               </ul>
                <div class="wen"><h6>今日图话</h6></div>
               <ul>
                   <li class="ipo"><img src="img/5.jpg"> <img src="img/6.jpg" alt=""></li>
                   <li class="ipl"><p>落榜女生回家放牛成网红</p> <p>女人才不是好惹的</p></li>
                   <li>影展 | 我们被微信“支配”的生活 逃离又贴近</li>
                   <li>体坛 | 刘国梁现身国乒训练馆 与教练队员交流</li>
                   <li>入流 | 如果没有这么厉害的霾 我就去找女神了</li>
                   <li>尤物 | 苦苦挣扎的米兰时装周和意大利时装爱好者</li>
                   <li>车族 | 卤素灯效果这么差 为什么很多人不更换</li>
                   <li>谷雨 | 九大维度“肢解”非虚构写作</li>
                   <li>谷雨 | 顶梁柱“北漂”意外之死</li>
                   <li>公益 | 从数据看2018年目标守卫者报告</li>
               </ul>
            </div>
            <div class="col-md-4" id="yue">
              <div class="yao">
                    <p><a href="">QQ</a> <a href="">企业微信</a><a href=""> 会员</a> <a href="">电脑管家</a> <a href="">软件</a>  <i class="fa fa-heart-o"></i></p>
                    <p><a href="">微信</a> <a href="">qq空间</a><a href=""> 课堂</a> <a href="">视频VIP</a> <a href="">腾讯云</a>  <i class="fa fa-user-o"></i></p>
                    <p class="bio"><a href="">新闻APP</a> <a href="">体育APP</a><a href=""> 快报</a> <a href="">企鹅号</a> <a href="">视频</a>
                        <a href="">手机管家</a> <a href="">浏览器</a> <a href="">应用宝</a>  <i class="fa fa-tablet"></i></p>
                    <p class="bip"><a href="">LOL</a> <a href="">DNF</a><a href="">CF</a> <a href="">冒险岛2</a> <a href="">QQ炫舞</a>
                      <a href="">爱玩</a> <a href="">逆战</a> <a href="">天刀</a><a href="">火影OL</a><a href="">王者</a><i class="fa fa-gamepad"></i></p>
                  <p><a href="">京东</a> <a href="">理财通</a> <a href="">企鹅FM</a> <a href="">Q币</a ><a href="">全部</a> <i class="fa fa-coffee"></i></p>
              </div>
                <div class="gao"><img src="img/g3.jpg" alt=""></div>
                <div class="he">
                   <p><a href="">市场行情</a></p>
                    <div class="ei"><input type="text" placeholder="代码/名称/拼音"><button>查询</button></div>
                    <div class="if">
                        <ul>
                            <li>上证</li>
                            <li>恒指</li>
                            <li>道指</li>
                            <li>腾安</li>
                        </ul>
                        <img src="img/hq_img.png" alt=""><div class="ip">道琼斯 <span>26439.93 <br> +54.65 +0.21%</span></div>
                        <p>[登录自选股] 查看我的股票走势</p>
                    </div>
                </div>
                <div class="hi">
                    <img src="img/7.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gi">
    <div class="container">
        <div class="g1"><img src="img/8.jpg"></div><img src="img/9.jpg" alt="">
    </div>
</div>

<div class="main">
    <div class="container">
        <div class="row">    
            <div class="col-md-8">
                <div class="bif">
                    <h6>电影 / 美容 / 娱乐</h6>
                    <ul>
                        <li  class="ipu"><img src="img/0.jpg" alt=""><h6>工作室让马思纯闭嘴？刘 <br>昊然回应巡回军训</h6></li>
                    <li v-for="a in aq">
                        {{a.fx}}
                    </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4" id="yuee">
                <div class="bif">
                     <h6> 时尚 / 健康 /美容</h6>
                    <ul>
                        <li  class="ipu"><img src="img/0%20(1).jpg" alt=""><h6>巴黎卡位战：争夺时装界最高权威</h6></li>
                        <li v-for="a in ai">{{a.fx}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>










<script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
<script src="js/script.js"></script>
</body>
</html>